@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome To Admin Page !! so You are Admin </h3>
    <p class="mt-3 fs-3">you Can Manage Your Project??</p>
    <img src="~/images/adminpic.jpg" class="mt-5 "/>
  
</div>
